*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #666;
}

main{
    width: 70vw;
}

.noticia{
    background-color: #eee;
    max-width: 20vw;
    margin: 10px;    
    float: left;
}

.imagem-noticia{
    width: 90%;
    display: flex;
    margin: 5px auto;
}

h1{
    text-align: left;
    font-size: 1em;
    padding: 0.5em;
}

p{
    clear: both;
}