*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #344;
}

header{
    width: 90vw;
    background-color: antiquewhite;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

nav{
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}

a:link, a:visited{
    padding: 30px;
    text-decoration: none;
    color: deeppink;
}

a:hover{
    background-color: deeppink;
    color: antiquewhite;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 15px;
}

a:active{
    background-color: rgb(253, 121, 141);
}

p{
    margin: 0 auto;
    width: 70vw;
    color: #fff;
    text-align: justify;
}