*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #344;
}

#cabecalho-pagina{
    width: 90vw;
    background-color: antiquewhite;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

nav{
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}

a:link, a:visited{
    padding: 30px;
    text-decoration: none;
    color: deeppink;
}

a:hover{
    background-color: deeppink;
    color: antiquewhite;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 15px;
}

a:active{
    background-color: rgb(253, 121, 141);
}

.noticia{
    width: 90vw;
    margin: 10px auto;
    background-color: #fff;
}

.cabecalho-noticia{
    font-size: 30px;
    color: deeppink;
    display: flex;
}

.fonte{
    width: 32px;
}

p{
    width: 60vw;
    color: #333;
    text-align: justify;
    margin: 10px 0 0 10px;
}

.imagem-noticia{
    max-width: 150px;
    float: right;
    margin-right: 10px;
}

.rodape-noticia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.icone{
    font-size: 20px;
}