*{
    box-sizing: content-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div{
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.btn{
    background-color: #327ab7;
    color: #fff;
    border: none;
}

